<% if current_user %>
  <%= form_for Haiku.new do |f| %>
    <div class="field"><%= f.text_area :content, rows: 3, cols: 50 %></div>
    <div class="actions"><%= f.submit "Preguntar" , class: "btn btn-mini btn-primary" %></div>
  <% end %>
<% end %>

<%= render @haikus %>
