<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">Compra.me</a>
		by Gustavo Milstein
	</small>
	<nav>
		<ul>
			<li><%= link_to "Acerca", about_path %></li>
			<li><%= link_to "Contacto", contact_path %></li>
			<li><a href="http://news.railstutorial.org/">Noticias</a></li>
		</ul>
	</nav>
</footer>